* {
    margin : 0;
    padding : 0;
}

body {
    background-color: #1C272A;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
}

.button {
    border : 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 3px 20px;
    font-size: 1.5vw;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}

.button:hover {
    border: 1px solid #F6AE2D ;
    background: #F6AE2D;
}

.button a {
    text-decoration: none;
    color: white;
}

.tryButton1 {
    /* font-size: 30px; */
    font-size: 2.4vw;
    margin-top: 4%;
}

.tryButton2 {
    width: 60%;
    margin-bottom: 2%;
}

.tryButton3 {
    width: 20%;
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
}

h3 {
    font-size: 2.8vw;
    font-weight: 700;
}

.headerNav {
    border: 4px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerNav ul {
    border: 4px solid green;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}

.headerNav ul li {
    margin-right: 2%;
}

.headerNav a img {
    width: 9vw;
}

#welcomeHeader {
    background-image: url("../images/moviebackground.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#welcomeText {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcomeText h2 {
    font-size: 4.5vw;
    font-weight: 700;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    text-align: center;

}

/* Rubrique à propos */

#aboutContainer {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.aboutBloc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
    width: 70%;
    height: 80vh;
    border: 1px solid white;
    margin-left: 5%;
}

 #aboutText h3{
    margin-left: 4%;
 }  

#aboutText p{
    margin: 0 10%;
}

#aboutPictures {
    display: flex;
    /* flex-wrap: wrap; */
    width: 70%;
    height: 80vh; 
    box-shadow: 20px 0px 0px 0px rgba(246,174,45,1);
    margin-right: 5%;
}

.aboutPixBloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutPictures img{
    width: 100%; 
    height: auto;
}

/* Rubrique avantages */

#benefitsContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: inset 18px 0px 0px 0px rgba(246,174,45,1);
}

#benefitsBloc {
    border: 2px solid blue;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.benefitsBox {
    width : 25%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.benefits {
    border: 1px solid white;
    display: flex;
    align-self: center;
    padding: 15% 10%;
    margin: 3% 0%;
    text-align: justify;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#socialNetwork{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-right: 5%;
}

#socialNetwork a{
    text-decoration: none;
}

#socialNetwork a img{
    width: 2.8vw;
}

/* RESPONSIVE TABLET */

@media screen and (max-width: 768px){

    /* #benefitsContainer{
        height: auto;
    }

    #benefitsBloc {
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
    } */

}

