* {
    margin : 0;
    padding : 0;
}

body {
    background-color: #1C272A;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
}

/* .header {
    border : 2px solid red; 
} */

.headerNav {
    /* border : 2px solid blue; */
    display: flex;
    justify-content: space-between;
}

.headerNav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.headerNav ul li {
    margin-right: 2%;
}

.headerNav a img {
    width: 9vw;
}

.button {
    border : 1px solid white;
    background: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 3px 20px;
    margin: 3%;
    font-size: 1.5vw;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    color: white;
}

.button:hover {
    border: 1px solid #F6AE2D ;
    background: #F6AE2D;
}

.button a{
    text-decoration: none;
    color: white;
}

main{
    /* border: 3px solid purple; */
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer{
    box-shadow: 15px 0px 0px 0px rgba(231,166,26,1);
    /* border: 1px solid white; */
    height: 70vh;
    /* width: 30vw; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(28, 39, 42, 0.8);
}

#loginContainer h1{
    display: flex;
    align-self: flex-start;
    font-size: 2.8vw;
    font-weight: 700;
}

form{
    /* border: 4px solid tomato; */
    height: 55vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;

    /* justify-content: center; */
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

#socialNetwork{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-right: 5%;
}

#socialNetwork a{
    text-decoration: none;
}

#socialNetwork a img{
    width: 2.8vw;
}