body {
    background-color: #1C272A;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3vw;
}

#listingBody {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    /* border: 8px goldenrod solid; */
    font-family: 'Open sans';
    font-size: 20px;
}

#logo {
    width: 50%;
    margin-bottom: 40px;
}

.navbar-brand {
    border: 3px solid goldenrod;
    border-radius: 5px;
    padding: 5px;
}

.navbar-brand:hover {
    background: black;
}

.nav-tabs {
    display: flex;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: -3px;
    margin-top: 35px;
}

.nav-item {
    margin: 15px;
}

#video-carousel-example2 {
    width: 100% !important;
}

#carousel-v {
    margin-bottom: 25px;
    /* border: 5px solid black; */
    /* margin-left: 5px;
  margin-right: 5px; */
}

.nav-tabs .nav-link.active {
    /* background-color: black; */
}

img {
    border-radius: 5px;
}

#carousel01 {
    border: 2px goldenrod solid;
    background-image: url(../images/black_denim.png);
}

.container-fluid {
    /* flex-direction: column; */
    /* border: 2px goldenrod solid; */
    /* background-image: url(../images/black_denim.png); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 15px;
    /* border-radius: 10px; */
}

#carouselExampleControls {
    /* display: flex; */
    width: 100%;
}

.carousel-inner {
    max-height: 700px;
    width: 100%;
}

.carousel-item {
    width: 100%;
}

.text-xs-center {
    color: goldenrod;
    background: black;
    width: 96%;
    border: 1px solid goldenrod;
    text-align: center;
}

.text-xs-center:hover {
    background: goldenrod;
    color: black;
}

#bundlePic {
    display: flex;
    margin: 0 auto;
}

#bundle {
    flex-direction: row;
    /* height: 200px; */
    margin-bottom: 25px;
    margin-top: 25px;
}

.picmg {
    background: darkgoldenrod;
    margin: -21px;
    /* border: 1px solid goldenrod; */
    /* max-width: 370px; */
    /* width: 100%;
    height: 300px; */
    margin-bottom: 0px;
    /* margin-top: 25px; */
    /* border-radius: 10px; */
    /* padding: 6px; */
    width: 275px;
    height: 300px;
}


/*
GALLERY VIDEO */

.pb-video-container {
    /* display: flex; */
    width: 100%;
    padding-top: 20px;
    background: black;
    font-family: Lato;
    background-image: url(../images/black_denim.png);
}

.pb-video {
    border: 1px solid goldenrod;
    border-radius: 10px;
    padding: 5px;
}


/* pb-video-frame */

.pb-video:hover {
    background: goldenrod;
}

.pb-video-frame {
    transition: width 4s, height 3s;
}

.pb-video-frame:hover {
    height: 300px;
}

.pb-row {
    margin-bottom: 25px;
}

.row {
    /* width: 100%; */
    margin-top: 15px;
}

#synop {
    border: 1px solid goldenrod;
    margin-top: 20px;
    color: white;
    /* height: 50%; */
}


/* FOOTER */

.base {
    /* flex-direction: row; */
    background: #101925;
    width: 100%;
    height: 250px;
    margin-top: 15px;
    /* max-height: 150px; */
    color: #FFF;
    display: flex;
    justify-content: center;
}

#myBtn:hover {
    background-color: #04065f;
}

#myBtn {
    background: transparent;
    border: none;
    bottom: 20px;
    color: #FFF;
    cursor: pointer;
    /* display: none; */
    /* border-radius: 4px; */
    font-size: 18px;
    font-weight: 900;
    /*     outline:focus; */
    position: fixed;
    right: 30px;
    width: 60px;
    z-index: 99;
}


/* ANCRE */

div.ident1 {
    color: #FFF;
    margin-top: 30px;
    margin-left: 30px;
}

div.ident a {
    text-decoration: underline;
    color: #2ccdd3;
}

#myBtn:hover {
    background-color: #04065f;
}


/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-box {
    background-color: transparent;
    width: 250px;
    height: 300px;
    /* border: 1px solid goldenrod; */
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.8s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


/* Style the front side */

.flip-box-front {
    /* background-color: goldenrod; */
    color: black;
}


/* Style the back side */

.flip-box-back {
      background-color: #0e2028;
      /* background-image: url(../images/black_denim.png); */
      border:1px solid white;
      color: white;
      transform: rotateY(180deg);
      height: 90%;
      padding-top: 15px;
  }


.flip-box-back h2 {
    margin-top: 70px;
    /* background-color: #0e2028; */

    border:1px solid white;
    background: darkgoldenrod;
    color: white;
    font-size: 1rem;
}

.fas {
    justify-content: center;
    align-items: flex-start;
    margin: 15px;
    color: goldenrod;
    /* background: black; */
}
button{
  background: black;
  color:antiquewhite;
}

.fa-reply-all:before {
    /* content: "\f122"; */
    font-size: 1.5rem;
    padding: 16px;
    margin-left: 0px;
    color: tomato;
    background: black;
}

.fa-heart:before {
    color: tomato;
}

.row div {
    /* width: 506px; */
    margin: 0 auto;
    /* border: 1px solid #101925; */
    /* background: goldenrod; */
}


/* FILTRE */

* {
    margin: 0;
    padding: 0;
}


/* COMMUN */

.button {
    border: 1px solid white;
    background: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding: 3px 20px;
    font-size: 1.5vw;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    color: white;
    /* box-shadow: 0px 10px 10px -10px rgba(225,225,225); */
}

.button:hover {
    /* border: 1px solid #F6AE2D ; */
    border: 1px solid transparent;
    background: #F6AE2D;
    transition: 0.2s;
    /* box-shadow: 0 1px 6px 0 rgba(225,225,225), 0 1px 2px 0 rgba(225,225,225); */
}

.button a {
    text-decoration: none;
    color: white;
}

.tryButton1 {
    font-size: 2.4vw;
    margin-top: 4%;
}

.tryButton2 {
    width: 60%;
    margin-bottom: 2%;
}

.tryButton3 {
    width: 20%;
    display: flex;
    align-self: flex-end;
    margin-right: 10%;
}

.submitButton {
    width: 60%;
}

h3 {
    font-size: 2.8vw;
    font-weight: 700;
}


/* Header */

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.headerNav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
    margin-right: 2%;
}

.headerNav ul li {
    margin-right: 3%;
}

.headerNav a img {
    width: 9vw;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

footer p {
    margin-left: 4%;
}

#socialNetwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-right: 4%;
}

#socialNetwork a {
    text-decoration: none;
}

#socialNetwork a img {
    width: 2.3vw;
}


/* INDEX PAGE */


/* Index - Header accueil */

#welcomeHeader {
    background-image: url("../images/moviebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#welcomeText {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcomeText h2 {
    font-size: 4.5vw;
    font-weight: 700;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
    text-align: center;
}


/* Index - Rubrique à propos */

#aboutContainer {
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.aboutBloc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 80vh;
    border: 1px solid white;
    margin-left: 5%;
}

#aboutText h3 {
    margin-left: 4%;
}

#aboutText p {
    margin: 0 10%;
}

#aboutPictures {
    display: flex;
    width: 70%;
    height: 80vh;
    box-shadow: 20px 0px 0px 0px rgba(246, 174, 45, 1);
    margin-right: 5%;
}

.aboutPixBloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutPictures img {
    width: 100%;
    height: auto;
}


/* Index - Rubrique avantages */

#benefitsContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#benefitsBloc {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -18px 0px 0px 0px rgba(246, 174, 45, 1);
}

.benefitsBox {
    width: 25%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.benefits {
    border: 1px solid white;
    display: flex;
    align-self: center;
    padding: 15% 10%;
    margin: 3% 0%;
    text-align: justify;
}


/* LOGIN PAGE */

#loginContainer {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginBox {
    box-shadow: 15px 0px 0px 0px rgba(231, 166, 26, 1);
    height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(28, 39, 42, 0.8);
}

#loginBox h1 {
    display: flex;
    align-self: flex-start;
    font-size: 2.8vw;
    font-weight: 700;
}

form {
    height: 55vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    /* justify-content: center; */
}


/* RESPONSIVE TABLET */


/* @media screen and (max-width: 768px){

    #benefitsContainer{
        height: auto;
    }

    #benefitsBloc {
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly;
        align-items: center;
    }

} */
